@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Wardrobe App</h1> <h4>Where I manage all 10 pieces.</h4>
    <p class="lead">You'll find all you need to cover up.</p>
    <p><a href="http://localhost:55112/Outfits/Index" class="btn btn-primary btn-lg">Search Outfits &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Tops</h2>
        <p>
           Some of the most out of date sweaters and t-shirts.
        </p>
        <p><a class="btn btn-default" href="http://localhost:55112/Tops/Index">Search &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Bottoms</h2>
        <p>The most out of date jeans in use.</p>
        <p><a class="btn btn-default" href="http://localhost:55112/Bottoms/Index">Search &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Shoes</h2>
        <p>Shoes with over hundreds of miles on them.</p>
        <p><a class="btn btn-default" href="http://localhost:55112/Shoes/Index">Search &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Accessories</h2>
        <p>Accessories that only I can understand.</p>
        <p><a class="btn btn-default" href="http://localhost:55112/Accessories/Index">Search &raquo;</a></p>
    </div>
</div>